<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>新規登録フォーム</h2>
  <form th:action="@{/signup/regist}" th:object="${userDetailForm}" method="post">
    <label for="userId"></label>
    <input id="userId" name="userId" th:field="*{userId}" />
    <label for="email"></label>
    <input id="email" name="email" th:field="*{email}" />
    <label for="password"></label>
    <input id="password" name="password" th:field="*{password}" />
  </form>
</body>
</html>